.waveform-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    column-gap: 100px; 
    row-gap: 25px;
    padding-top: 10px;  
}

.play-button {
    width: 25px;
    filter: invert(1)
}

.play-button:hover {
    cursor: pointer;
}

.waveform {
    text-align: center;
}